body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1fr;
    height: 15vh;
    
    background-color: #A9CBD9;

    font-size: 64px;
    font-weight: 600;
}

.content{
    display: flex;
    height: 80vh;
    width: 100vw;
}

.gallery {
    position: sticky;
    top: 15vh;
    height: 85vh;
    width: 40vw;
    display: grid;
    justify-items: center;
    grid-template-rows: repeat(3, 1fr) 0.1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 16px;
    background-color: #092137;
    box-sizing: border-box;
    overflow: auto;
}

.page-selector{
    display: flex;
    align-items: center;
    gap: 16px;
    grid-column: 1/3;
}

.page-button{
    border-radius: 100%;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: background-color .3s;
    transition-timing-function: ease-in-out;
}

.page-button:hover{
    background-color: #144777;
    transition: background-color .3s;
    transition-timing-function: ease-in-out;
}

.material-icons{
    font-variation-settings: 'opsz' 1;
}

.thumbnail{
    height: 100%;
    width: 100%;
    background-color: #d9d9d9;
}

.main-area{
    display: flex;
    flex-grow: 1;
    /* height: 100%; */
    justify-content: center;
    /* background-color: blanchedalmond; */
    margin: 16px;
    /* border: 4px red solid; */
}

.main-image{
    width: 30vw;
    object-fit: cover;
}